* {
  border: 0;
  margin: 0;
  font-family: 'Gotham Pro';
}

body {
  background-image: url(../img/background-image.svg);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 94px 0 338px;
}

.title h1, .title h3, .card .character p, 
.card h4, .modal-header, .sidebar-card  .source p, 
.sidebar-card  .target p, .modal-content h1,
.sidebar-card  .source  .character-name,
.sidebar-card  .target  .character-name {
  color: #0F7525;
}

.title h1, .title h3, .card .character p,
.card h4, footer .start-btn, .seconds,
.modal-header, .modal-body, .modal-footer button,
.drop-btn, .done-btn {
  font-style: normal;
  line-height: normal;
}

.title h1 {
  font-size: 70px;
  font-weight: 900;
}

.title h3 {
  font-size: 40px;
  font-weight: 400;
}

.how-to-play-btn {
  width: 235px;
  height: 63px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #0154B4;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.30);
  color: #EFF8E5;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word
}

.game {
  padding: 70px 0 0 338px;
}

.card {
  display: flex;
  align-items: center;
  max-width: 800px;
}

.target {
  padding: 50px 0 0 0;
}

.character {
  padding: 0 0 0 24px;
}

.card .character p {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 400;
}

.card h4 {
  font-size: 30px;
  font-weight: 700;
}

.img-character {
  width: 230px;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 40px 0px rgba(14, 15, 16, 0.30);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-character img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  display: flex;
  align-items: center;
  margin-top: 70px;
}

footer .start-btn {
  width: 229.89px;
  height: 63.418px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #0F7525;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.30);
  color: #EFF8E5;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  display: grid;
  justify-items: center; 
  align-items: center;
}

a {
  text-decoration: none;
}

footer .new-character-btn {
  width: 63.418px;
  height: 63.418px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #0055B8;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.30);
  margin-left: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seconds {
  position: relative;
  right: 235px;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65.89px;
  height: 29.524px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #13A933;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.30);
  color: #EFF8E5;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  z-index: 1;
}

/* HOW TO PLAY MODAL */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba( 239, 248, 229, 0.10);
  backdrop-filter: blur(2px);
}

.modal-content {
  background-color: #FAE100;
  margin: 5% auto;
  padding: 20px 40px;
  width: 450px;
  text-align: center;
  border: 1px solid #EFF8E5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-header {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Gotham Pro;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 32px;
}

.modal-body {
  color: #0272F7;
  font-size: 25px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 8px;
}

ol.rules li {
  margin-bottom: 24px;
}

.modal-footer button {
  border-radius: 4px;
  background: #0154B4;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.30);
  width: 197.698px;
  height: 53px;
  flex-shrink: 0;
  color: #EFF8E5;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-footer button:hover,
.how-to-play-btn:hover,
footer .new-character-btn:hover,
.drop-btn:hover
{
  background: #0075FF;
  transition: background-color 0.3s, color 0.3s; 
}

footer .start-btn:hover,
.done-btn:hover {
  background: #11AB32;
  transition: background-color 0.3s, color 0.3s; 
}

ol.rules li strong {
  font-weight: 500;
}

button, .start-btn {
  cursor: pointer;
}

/* Round */
body {
  height: 100vh;
}
.container {
  display: flex;
  justify-content: space-between;
  height: 750px;
  padding: 70px 0 0 338px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.sidebar-header {
  padding: 0;
}
.sidebar-header .title{
  display: flex;
  align-items: center;
}
.sidebar-header h1 {
  font-size: 40px;
}
.sidebar-header h3 {
  font-size: 30px;
  font-weight: 400;
  padding-left: 2px;
}
.wiki-frame {
  width: 70%;
  height: 100%;
  margin: 0 80px 0 0; 
  border-radius: 10px;
  box-shadow: 0px 0px 40px 0px rgba(14, 15, 16, 0.30);
  max-width: 1000px;
}
.wiki-footer {
  display: flex;
  justify-content: end;
  padding-right: 80px;
  margin-top: 16px;
}

.sidebar-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.drop-btn,
.done-btn {
  width: 235px !important;
  height: 63px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #0154B4;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.30);
  width: auto;
  color: #EFF8E5;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.done-btn {
  background: #0F7525;
}

.bar {
  background-color: #EFF8E5;
  height: 100%;
  width: 2px;
}

.sidebar-card .source {
  padding-top: 25px;
}

.sidebar-card .target {
  padding-top: 20px;
}

.sidebar-card  .source p, 
.sidebar-card  .target p {
  display: inline;
  font-size: 22px;
  font-weight: 700;
  word-wrap: break-word;
}

.sidebar-card  .source  .character-name,
.sidebar-card  .target  .character-name {
  display: inline;
  font-size: 22px;
  font-weight: 400;
  word-wrap: break-word;
}

.sidebar-card {
  height: 100%;
}

.wiki-frame {
  overflow: scroll;
  overflow-x: hidden;
  background-color: #EFF8E5;
  padding: 30px;
  max-height: 690px;
}

.infobox {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
}

.wiki-frame::-webkit-scrollbar {
  width: 2px;
}

.wiki-frame::-webkit-scrollbar-track {
  background: white;
}

.wiki-frame::-webkit-scrollbar-thumb {
  background: #0154B4;
  border-radius: 4px; 
}

.wiki-frame::-webkit-scrollbar-button {
  display: none; 
}

.wiki-frame::-webkit-scrollbar-corner {
  background: white; 
}

.wiki-frame .mw-headline {
  display: block;
  padding-top: 12px;
  padding-bottom: 4px;
}

.info-game {
  display: flex; justify-content: center; align-items: center; font-size: 18px; color:#EFF8E5;
}

.info-game .clicks {
  display: flex; width: 70%; background-color: #51545C; height: 48 px; border-radius: 4px; box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.30); justify-content: center; align-items: center;
}

.info-game .clicks strong {
  display: inline;
}

.info-game .clicks span {
    background-color: transparent; font-size: 18px; display: flex; color:#EFF8E5; text-align: left; height: 48px; align-items: center;
}

.modal-content h1 {
  text-align: center;
  display: inline;
}

.modal-victory .modal-content {
  height: 700px;
  width: 900px;
  z-index: 1;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.modal-victory .modal-content img {
  margin: 30px 0;
}

.modal-content .header {
    display: flex;
    align-items: center;
}

.modal-content .header button {
  display: inline;
  font-weight: 900;
  font-size: 40px;
  color: #C50023;
  background-color: transparent;
  position: fixed;
  top: 25px;
  right: 25px;
  margin-top: ;
}

.modal-content .header button:hover {
  color: #FF002E;
  transition: color 0.3s, color 0.3s;
}

.modal-content .path {
  background-color: #11AB32; color: #EFF8E5; padding: 12px; border-radius: 4px;
  text-align: left;
  width: 100%;
}

.search-type {
  color: #EFF8E5;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-type svg {
  margin-bottom: 4px;
}
