{% load static %}
{% include "./parts/head.html" %}

<div class="container">
  <section class="sidebar">
    <header class="sidebar-header">
      <section class="title">
        <h1>Brawiki</h1>
        <h3>Game</h3>
      </section>
    </header>
    <div class="sidebar-card">
      <div class="source">
        <p>Inicia com:</p>
        <h4 class="character-name">{{source}}</h4>
      </div>
      <div class="target">
        <p>Objetivo:</p>
        <h4 class="character-name">{{ target }}</h4>
      </div>
    </div>
  </section>
  <div class="bar"></div>
  <div class="wiki-frame">
    {{ html_page|safe }}
  </div>
</div>
<footer class="wiki-footer">
  {% if target_found %}
    <button class="done-btn" id="openModalBtn">CONCLUIR</button>
  {% else %}
    <button class="drop-btn">DESISTIR</button>
  {% endif %}
</footer>

<div id="myModal" class="modal modal-victory">
  <div class="modal-content">
    <div class="header">
      <h1>PARABÉÉÉÉÉNS!</h1>
      <button id="closeModalBtn">X</button>
    </div>
    
    <img src="{% static 'game/img/win.gif' %}" alt="Vitória">
    <h1>VOCÊ CHEGOU NO OBJETIVO!</h1>
    <a href="/" class="drop-btn" style="margin-top: 30px;">PÁGINA INICIAL</>
  </div>
</div>

{% include "./parts/footer.html" %}