{% load static %}
{% include "./parts/head.html" %}

<div class="container">
  <section class="sidebar">
    <header class="sidebar-header">
      <section class="title">
        <h1>Brawiki</h1>
        <h3>Game</h3>
      </section>
    </header>
    <div class="sidebar-card">
      <div class="source">
        <p>Inicia com:</p>
        <h4 class="character-name">{{source}}</h4>
      </div>
      <div class="target">
        <p>Objetivo:</p>
        <h4 class="character-name">{{ target }}</h4>
      </div>
    </div>
    <div class="info-game">
      <div class="clicks">
        <strong>CLIQUES:&nbsp;&nbsp;</strong> 
        <span>{{num_clicks}}</span>
      </div>
    </div>
  </section>
  <div class="bar"></div>
  <div class="wiki-frame">
    {{ html_page|safe }}
  </div>
</div>
<footer class="wiki-footer">
  {% if target_found %}
    <button class="done-btn" id="openModalBtn">CONCLUIR</button>
  {% else %}
    <a href="/" class="drop-btn">DESISTIR</a>
  {% endif %}
</footer>

<div id="myModal" class="modal modal-victory">
  <div class="modal-content">
    <div class="header">
      <h1>PARABÉÉÉÉÉNS!</h1>
      <button id="closeModalBtn">X</button>
    </div>
    
    <img src="{% static 'game/img/win.gif' %}" alt="Vitória">
    <h1>VOCÊ CHEGOU NO OBJETIVO!</h1>

    <div class="path" style="background-color: #11AB32; margin-top: 30px;">
      <strong>Caminho percorrido:</strong><br>
      {{my_path}}
    </div>
    <div class="path" style="background-color: #0075FF; margin-top: 15px;">
      <strong>{{title_path}}</strong><br>
      {{shortest_path}}
    </div>

    <a href="/" class="drop-btn" style="margin-top: 30px; font-size: 15px;">PÁGINA INICIAL</a>
  </div>
</div>

{% include "./parts/footer.html" %}